* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.container {
  background-color: #064e3b;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}
.heading {
  padding: 20px;
  text-align: center;
}
.description {
  padding: 5px 10px;
  font-size: 20px;
  line-height: 1.5em;
}
#cashGiven-div {
  visibility: hidden;
}

.change-table {
  visibility: hidden;
}

#invalid-amount,
#error-message {
  visibility: hidden;
}

#invalid-amount.show,
#error-message.show {
  visibility: visible;
  margin-top: 10px;
  font-size: 20px;
}

#bill-div,
#cashGiven-div {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.2em;
}
label,
caption {
  font-size: 20px;
  margin-bottom: 5px;
  color: #98f3d0;
}
#check-button {
  background-color: #a7f3d0;
  width: 20%;
  border-radius: 15px;
  height: 30px;
  margin-top: 10px;
}
#next-button {
  background-color: #a7f3d0;
  width: 20%;
  border-radius: 15px;
  height: 30px;
  margin-top: 5px;
}
.change-table {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table_styles {
  width: 100%;
  margin-top: 10px;
  border-spacing: 1;
}
.shaded {
  background-color: #a7f3d0;
  text-align: left;
  color: black;
  font-weight: bold;
}
.count {
  background-color: #ffffff;
  color: black;
  font-weight: bold;
}

th,
td {
  display: table-cell;
  width: 50px;
  padding: 10px 20px;
}

@media screen and (max-width: 900px) {
  .container {
    flex-direction: column;
    max-width: 100%;
  }
  .change-table {
    width: 100%;
  }
  th,
  td {
    display: table-cell;
    padding: 2px;
  }
  .table_styles {
    margin-top: 10px;
    border-spacing: 1;
  }
}
